1:systemd		root
2:kthreadd		root
3:rcu_gp		root
4:rcu_par_gp		root
5:kworker/0:0-cgroup_destroy		root
6:kworker/0:0H-kblockd		root
8:mm_percpu_wq		root
10:rcu_tasks_kthre		root
11:rcu_tasks_rude_		root
12:rcu_tasks_trace		root
13:ksoftirqd/0		root
14:rcu_preempt		root
15:rcub/0		root
16:rcuc/0		root
17:migration/0		root
18:idle_inject/0		root
20:cpuhp/0		root
21:cpuhp/1		root
22:idle_inject/1		root
23:migration/1		root
24:rcuc/1		root
25:ksoftirqd/1		root
26:kworker/1:0-events		root
27:kworker/1:0H-radeon-crtc		root
28:cpuhp/2		root
29:idle_inject/2		root
30:migration/2		root
31:rcuc/2		root
32:ksoftirqd/2		root
34:kworker/2:0H-radeon-crtc		root
35:cpuhp/3		root
36:idle_inject/3		root
37:migration/3		root
38:rcuc/3		root
39:ksoftirqd/3		root
41:kworker/3:0H-radeon-crtc		root
42:cpuhp/4		root
43:idle_inject/4		root
44:migration/4		root
45:rcuc/4		root
46:ksoftirqd/4		root
48:kworker/4:0H-radeon-crtc		root
49:cpuhp/5		root
50:idle_inject/5		root
51:migration/5		root
52:rcuc/5		root
53:ksoftirqd/5		root
55:kworker/5:0H-kblockd		root
56:kdevtmpfs		root
57:netns		root
58:inet_frag_wq		root
59:khungtaskd		root
60:oom_reaper		root
61:writeback		root
62:kcompactd0		root
63:ksmd		root
64:khugepaged		root
69:kworker/4:1-events		root
109:kintegrityd		root
110:kblockd		root
111:blkcg_punt_bio		root
112:ata_sff		root
113:edac-poller		root
114:devfreq_wq		root
115:watchdogd		root
116:kworker/0:1H-kblockd		root
118:kswapd0		root
119:kworker/2:1-events		root
120:kworker/3:1-events		root
122:kthrotld		root
123:kworker/5:1-cgroup_destroy		root
124:acpi_thermal_pm		root
126:nvme-wq		root
127:nvme-reset-wq		root
128:nvme-delete-wq		root
129:scsi_eh_0		root
130:scsi_tmf_0		root
131:scsi_eh_1		root
132:scsi_tmf_1		root
133:scsi_eh_2		root
134:scsi_tmf_2		root
135:scsi_eh_3		root
136:scsi_tmf_3		root
138:kworker/u12:4-flush-8:32		root
139:kworker/u12:5-events_unbound		root
141:kworker/u12:6-events_power_efficient		root
142:kworker/4:2-events		root
144:mld		root
145:ipv6_addrconf		root
147:kworker/4:1H-radeon-crtc		root
149:kworker/5:2-events		root
151:kworker/5:1H-radeon-crtc		root
159:kstrp		root
160:zswap1		root
161:zswap1		root
162:zswap-shrink		root
163:kworker/u13:0		root
164:charger_manager		root
180:card0-crtc0		root
181:card0-crtc1		root
182:card0-crtc2		root
183:card0-crtc3		root
184:card0-crtc4		root
185:card0-crtc5		root
198:kworker/1:1H-kblockd		root
202:scsi_eh_4		root
206:scsi_tmf_4		root
207:kworker/3:1H-radeon-crtc		root
209:scsi_eh_5		root
210:scsi_tmf_5		root
214:kworker/2:1H-radeon-crtc		root
217:kworker/2:2-mm_percpu_wq		root
233:kworker/3:2-events		root
235:jbd2/sdc2-8		root
236:ext4-rsv-conver		root
286:iprt-VBoxWQueue		root
288:systemd-journal		root
289:systemd-udevd		root
290:iprt-VBoxTscThr		root
322:kworker/1:3-mm_percpu_wq		root
415:cryptd		root
457:kworker/0:3-cgroup_destroy		root
496:avahi-daemon		avahi
497:dbus-daemon		dbus
498:NetworkManager		root
500:systemd-logind		root
506:avahi-daemon		avahi
542:chrome-remote-d		snoopie
543:cupsd		root
548:ntpd		ntp
552:(sd-pam)		snoopie
567:gpg-agent		root
592:Xvfb		snoopie
597:sddm		root
600:Xorg		root
632:i3		snoopie
634:chrome-remote-d		snoopie
652:dbus-daemon		snoopie
774:nm-applet		snoopie
778:volumeicon		snoopie
788:redshift		snoopie
791:unclutter		snoopie
796:xfce4-power-man		snoopie
803:picom		snoopie
804:xfce4-notifyd		snoopie
806:i3bar		snoopie
813:at-spi-bus-laun		snoopie
834:i3status		snoopie
850:xfconfd		snoopie
876:dbus-daemon		snoopie
890:polkitd		polkitd
915:upowerd		root
924:gvfsd		snoopie
950:gvfsd-fuse		snoopie
976:at-spi2-registr		snoopie
1082:dockerd		root
1107:containerd		root
7139:sddm-helper		root
7146:systemd		snoopie
7147:kworker/5:0-events		root
7149:kworker/u12:0-writeback		root
7150:kworker/u12:1		root
7151:kworker/u12:2		root
7155:(sd-pam)		snoopie
7165:gnome-keyring-d		snoopie
7169:i3		snoopie
7177:dbus-daemon		snoopie
7194:nm-applet		snoopie
7196:volumeicon		snoopie
7198:polkit-gnome-au		snoopie
7203:redshift		snoopie
7206:unclutter		snoopie
7212:xfce4-power-man		snoopie
7213:xfce4-notifyd		snoopie
7218:picom		snoopie
7220:i3bar		snoopie
7225:xfconfd		snoopie
7235:i3status		snoopie
7247:pulseaudio		snoopie
7281:rtkit-daemon		rtkit
7284:gvfsd		snoopie
7306:kworker/5:2H-kblockd		root
7321:gvfsd-fuse		snoopie
7341:kworker/0:2H-radeon-crtc		root
7342:at-spi-bus-laun		snoopie
7343:kworker/4:2H-kblockd		root
7351:dbus-daemon		snoopie
7353:at-spi2-registr		snoopie
7354:kworker/1:2H-radeon-crtc		root
7371:gsettings-helpe		snoopie
7388:kworker/2:0		root
7391:kworker/0:1-events		root
7392:kworker/4:0		root
7423:code		snoopie
7426:code		snoopie
7427:code		snoopie
7429:code		snoopie
7455:code		snoopie
7479:code		snoopie
7492:code		snoopie
7507:kworker/3:2H-kblockd		root
7522:zsh		snoopie
7525:code		snoopie
7537:code		snoopie
7552:code		snoopie
7561:chrome		snoopie
7567:cat		snoopie
7568:cat		snoopie
7569:kworker/0:3H-radeon-crtc		root
7578:kworker/2:2H-kblockd		root
7583:code		snoopie
7595:kworker/5:3H-radeon-crtc		root
7596:kworker/1:3H-kblockd		root
7597:kworker/3:3H-kblockd		root
7598:kworker/2:3H-kblockd		root
7600:chrome_crashpad		snoopie
7602:chrome_crashpad		snoopie
7608:chrome		snoopie
7609:chrome		snoopie
7611:nacl_helper		snoopie
7614:chrome		snoopie
7617:code		snoopie
7639:kworker/4:3H-kblockd		root
7647:gnome-keyring-d		snoopie
7677:xdg-desktop-por		snoopie
7686:chrome		snoopie
7687:chrome		snoopie
7688:chrome		snoopie
7715:xdg-document-po		snoopie
7722:xdg-permission-		snoopie
7727:fusermount		root
7732:xdg-desktop-por		snoopie
7777:dconf-service		snoopie
7789:xdg-desktop-por		snoopie
7801:pipewire		snoopie
7817:chrome		snoopie
7864:chrome		snoopie
7878:chrome		snoopie
7884:chrome		snoopie
7890:chrome		snoopie
8056:chrome		snoopie
8101:cpptools		snoopie
8174:chrome		snoopie
8225:code		snoopie
8346:chrome		snoopie
8412:zsh		snoopie
8415:slack		snoopie
8418:slack		snoopie
8419:slack		snoopie
8421:slack		snoopie
8451:slack		snoopie
8454:slack		snoopie
8518:slack		snoopie
8700:zsh		snoopie
8703:zsh		snoopie
8745:zsh		snoopie
8747:zsh		snoopie
8748:gitstatusd-linu		snoopie
8802:proclog		snoopie
8805:cpuUsage.sh		snoopie
8808:sleep		snoopie
8817:cpuUsage.sh		snoopie
8820:sleep		snoopie
8830:cpuUsage.sh		snoopie
8833:sleep		snoopie
8843:cpuUsage.sh		snoopie
8846:sleep		snoopie
8848:chrome		snoopie
8863:chrome		snoopie
8900:cpuUsage.sh		snoopie
8903:sleep		snoopie
8906:chrome		snoopie
8916:chrome		snoopie
8937:chrome		snoopie
8958:git		snoopie
8959:git		snoopie
8960:git-remote-http		snoopie
9011:cpuUsage.sh		snoopie
9014:sleep		snoopie
